//
.genres {
  position: relative;
  max-width: 850px;
}
.genre-list {
  margin-bottom: 30px;
  h2 {
    margin-bottom: 30px;
    color: $highlight-color;
  }
}

.genre-item {
  margin-bottom: 15px;
  padding-left: 10px;

  a {
    color: $accent-color-dark;
    text-decoration: none;

    &:hover {
      color: $font-color;
    }
  }
}

.addGenre {
  position: fixed;
  right: 29px;
  top: 137px;
  a {
    text-decoration: none;
    color: $base-color-light;

    &:hover {
      color: $font-color;
    }
  }
}
