.delete {
  padding: 10px 10px 5px;
  margin-bottom: 30px;
  border-radius: 5px;
  background-color: $base-color-dark;
  box-shadow: 1px 1px 5px $accent-color-light;
  h3 {
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  span {
    font-weight: lighter;
    text-transform: lowercase;
    font-size: 16px;
  }
  p {
    padding-top: 5px;
    margin-bottom: 20px;
    margin-left: 30px;
  }

  h2 {
    margin-bottom: 20px;
    font-weight: lighter;
  }
}
