.details {
  padding: 10px 10px 5px;
  margin-bottom: 30px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px $accent-color-light;

  h2,
  h3 {
    padding-top: 15px;
  }

  h2 {
    text-transform: uppercase;
    font-size: calc(24px + 0.5vw);
    font-weight: lighter;
  }

  h3 {
    font-size: calc(18px + 0.5vw);
    color: $accent-color-dark;
  }

  p {
    font-size: calc(14px + 0.5vw);
  }
  a {
    color: $accent-color-dark;
    text-decoration: none;

    &:hover {
      color: $font-color;
    }
  }

  div:last-of-type {
    margin-bottom: 20px;
  }
}
