.Books {
  position: relative;

  .book-add {
    position: fixed;
    right: 29px;
    top: 137px;
    a {
      text-decoration: none;
      color: $base-color-light;

      &:hover {
        color: $font-color;
      }
    }
  }

  .book-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    a {
      text-decoration: none;
      color: $font-color;
    }
  }
}
