.button {
  border: none;
  background-color: $highlight-color;
  box-shadow: 1px 1px 5px $accent-color-dark;
  border-radius: 3px;
  transition: 1s;
  color: $base-color-light;
  font-size: 20px;

  &:hover {
    box-shadow: none;
    color: $font-color;
  }

  &-add {
    a {
      text-decoration: none;
      color: $base-color-light;

      &:hover {
        color: $font-color;
      }
    }
  }

  &-submit {
    margin-bottom: 20px;
  }

  &-clear {
    margin-left: 20px;
    background-color: $accent-color-dark;
  }

  &-delete {
    margin-right: 10px;
  }

  &-delete-cancel {
    background-color: $accent-color-dark;
    color: $base-color-light;
  }

  &-edit {
    background-color: $accent-color-light;
  }
}
