.button {
  border: none;
  background-color: $highlight-color;
  box-shadow: 1px 1px 5px $accent-color-dark;
  border-radius: 3px;
  transition: 1s;
  color: $base-color-light;
  font-size: 20px;

  &:hover {
    box-shadow: none;
    color: $font-color;
  }
}
