.header-menu {
  margin: 0 auto 55px;
  list-style-type: none;

  .menu-item {
    margin-right: calc(5px + 0.5vw);
    text-decoration: none;
    font-size: calc(16px + 0.5vw);
    color: $font-color;
    &:hover {
      font-weight: bold;
    }
  }
  .selected {
    border-bottom: 2px solid #3f3f44;
    font-weight: bold;
  }
}
