.Authors {
  position: relative;
  max-width: 850px;

  .addAuthor {
    position: fixed;
    right: 29px;
    top: 137px;
    a {
      text-decoration: none;
      color: $base-color-light;

      &:hover {
        color: $font-color;
      }
    }
  }
}
