$base-color-light: #fbf7f4;
$base-color-dark: #eed2cc;
$accent-color-light: #e8998d;
$accent-color-dark: #a1683a;
$highlight-color: #6c9a8b;

$title-font: "Abril Fatface", cursive;
$text-font: "Raleway", sans-serif;
