.form-container {
  margin: 0 auto;
  padding: 15px;
  text-align: left;
  box-shadow: 1px 1px 5px $highlight-color;
  border-radius: 5px;
}

.form-legend {
  margin-bottom: 35px;
  padding-top: 10px;
  text-align: center;
  font-size: 30px;
  color: $highlight-color;
  font-weight: bold;
  text-transform: uppercase;
}

.form-label {
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: bold;
  color: #6c9a8b;
}

.form-group {
  margin-bottom: 25px;
}

.feedback {
  color: red;
}
